:root {
  --background:#222831;
  --elevated: #31363F;
  --header: #91D2D5;
  --text: #fff;
  --link: purple;
  --code-color: #eee;
  --code-background: black;
  --primary: #fcfcfc;
  --primary-light: #eeeff5;
}

pre {
  background: var(--code-background);
  padding:24px;
  margin: 24px;
  border-radius: 16px;
  color: var(--code-color);
}

a {
  color: var(--link);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header)
}

body {
  padding: 24px;
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
  background-color: var(--primary);
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #222831;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-light)
}

@media only screen and (max-width: 2500px) {
  .trip-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
}


@media only screen and (max-width: 1600px) {
  .trip-grid {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media only screen and (max-width: 1200px) {
  .trip-grid {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media only screen and (max-width: 700px) {
  .trip-grid {
    grid-template-columns: 1fr !important;
  }
}

.trip-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  gap: 24px;
}